/* .swipe-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swipe-page-contents{
    display: flex;
    flex-direction: column;
}

.MuiButtonGroup-root{
    width: 100%;
} */