/* .company-image {
    width: 50vw;
    height: 50vh;
}

.company-card {
    display: flex;
    flex-direction: column;
    border-width: 0.2rem;
    border-style: solid;
}

.company-description{
    width: 50vw;
} */
